<div id="wr-detail-topic" class="container">
  <div class="row wr-combine">
    <div class="wr-title">
        <div class="wr-icon">
          <img src="<%= @topic.icon %>" alt="" class="icon-title">
        </div>
        <div class="wr-info">
          <h2 class="title"><%= @topic.title %></h2>
        </div>
    </div>

    <div class="sec-show-question-topic col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1">
      <section class="main-content">
        
      </section>
    </div>
  </div>

</div>
