.list-comments{
  width: 100%;
  table-layout: fixed;
  .item-comment{
    div.vt-count-vote{
      min-width: 16px;
      margin-right: 8px;
      a.short-link{
        color: orange;
        text-decoration: none;
      }
    }
    div.vt-action-vote{
      width: 20px;
    }
    div.vt-comment{
      .vt-com-con{
        margin-right: 5px;
      }
      time{
        margin-left: 6px;
        margin-right: 5px;
        font-size: 10px;
        color: #615e5e;
      }
    }
  }
  .loadmore{
    text-decoration: none;
    cursor: pointer;
    background-color: #5a80af;
    color: white;
    border-radius: 7px;
    font-size: 13px;
    padding: 3px;
  }
}

#wr-detail-question {
  .wr-combine {
    .sec-show-question-detail{
      .main-content{
        >div>.wr-vote{
          display: block;
          position: relative;
          font-size: 19px;
          width: 12px;
          float: left;
          margin-right: 12px;

          .icon-up{
            position: absolute;
            top: -13px;
          }
          .icon-down{
            position: absolute;
            top: 14px;
            left: 0px;
          }
        }

        h2.title{
          padding-bottom: 11px;
          border-bottom: 1px dotted #C0C0C0;
        }
        .inner-content{
          .content{

          }
          .li-topics{
            .in-li-topics{
              padding-left: 0px;
              .it-to{
                list-style: none;
                display: inline-block;
                padding: 3px;
                background-color: #c58cc4;
                font-size: 13px;
                a{
                  text-decoration: none;
                  color: #FFFFFF;
                }
              }
            }
          }
          .wrapper-author{
            table.list-author{
              width: 100%;
              display: table;
              tbody{
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                tr{
                  .vt-left{
                    text-align: left;
                    .alert-not-edit{
                      display: block;
                      width: 360px;
                      height: 54px;
                      padding-top: 17px;
                    }
                  }
                  .vt-right{
                    text-align: right;
                  }
                }
              }
            }
          }

          .wrapper-comment-answer{
            table.ta-add-comment{
              tr{
                td:nth-child(1){
                  width: 70%;
                }
                td:nth-child(2){
                  text-align: right;
                }
                td{
                  .btn-add{
                    float:right;
                  }
                }
              }
            }
            @extend .list-comments;
          }
        }

        .wrapper-answer{
          .list-answers{
            .fr-answer{
              border: 1px solid #E1E1E1;
              padding: 10px;
              tbody{
                tr:nth-child(2) {
                  td.wr-menu-action{
                    width: 70%;
                  }
                }
                tr{
                  td.col-vote{
                    width: 20px;
                    .wr-vote{
                      display: block;
                      position: relative;
                      font-size: 19px;
                      .icon-up{
                        position: absolute;
                        top: -13px;
                      }
                      .icon-down{
                        position: absolute;
                        top: 14px;
                        left: 0px;
                      }
                    }
                  }
                  td{
                    ul.menu-action{
                      list-style: none;
                      padding-left: 0px;
                      li{
                        list-style: none;
                        display: inline-block;

                      }
                    }
                  }
                  .td-wr-author{
                    min-width: 100px;
                  }

                  td.pa-comment{
                    .wrapper-comment-answer{
                      @extend .list-comments;
                      table.ta-add-comment{
                        tr{
                          td:nth-child(1){
                            width: 70%;
                          }
                          td:nth-child(2){
                            text-align: right;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sidebar-related-question{
      .panel-heading{

      }
      .panel-body{
        ul.list-ques{
          padding-left: 0px;
          li.ques_track{
            list-style: none;
            min-height: 33px;
            .num-vote{
              display: block;
              float: left;
              background-color: #64a264;
              color: white;
              text-align: center;
              min-width: 32px;
              border-radius: 4px;
              margin-right: 8px;
            } 
          }
        }
      }
    }
  }
}


.wr-collapse{
  display: inline-block;
  position: relative;
  .anchor-item{
    
  }
  .body-item{
    position: absolute;
    min-width: 65px;
  }
}


.fr-form-ask {
  .inner-ask{
    padding: 10px;
    background-color: #C19969;
    .wr-title{
      border-bottom: 1px solid #fff1df;
      margin-bottom: 22px;
      .title{
        color: white;
      }
    }
    form.new_question{
      .editor-toolbar{
        background-color: white;
      }
    }
  }
}