#wrapper{
  margin-top: 61px;
  padding-top: 14px;
  background-color: #fff6DD;
  header{
    background-color: #bc8371;
    a#logo{
      display: block;
      float: left;
      img.img_logo{
        width: 60px;
        height: 60px;
      }
    }
    div.search-bar{
      display: block;
      float: left;
      width: 440px;
      height: 40px;
      margin-left: 30px;
      margin-top: 11px;

      .wr-search{
        display: block;
        .selector_input_interaction{
          input[name="word_search"] {
            display: block;
            width: 435px;
            height: 34px;
          }
        }
      }
    }
    nav{
      @extend .clearfix !optional;
      margin-bottom: 0px;
      >ul{
        margin-top: 10px;
        >li {
          >a{
            color: #fff7f5;
            &:hover{
              background-color: #FFE5DD !important;
              color: #945947;
            }
          }
          a.dropdown-toggle{
            background-color: #FFE5DD;
            color: #945947;
          }
          .dash-profile{
            background-color: #FFE5DD;
            ul {
              li{
                a{
                  color: #945947;
                  &:hover{
                    background-color: #FFE5DD !important;
                    color: #945947;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #wrapper-body {
    min-height: 500px;
    display: block;
  }
}

.wrap-noti{
  display: block;
  margin-right: 1px;
  width: 86px;
  .anchor-pointer{
    display: block;
    background-color: #ffe5dd;
    position: relative;
    height: 50px;
    padding-top: 14px;
    padding-left: 9px;
    cursor: pointer;
    .in-text{
      color: #945947;
    }
  }
  .list-noti{
    position: absolute;
    top: 59px;
    left: -146px;
    width: 300px;
    background-color: white;
    border: 2px solid #e2d5d5;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    white-space: normal;

    .header{
      background-color: rgba(192, 192, 192, 0.28);
      display: block;
      width: 100%;
      height: 36px;
    }
    .list-in{
      .wr-list{
        padding-left: 0px;
        .item-noti{
          list-style: none;
          padding: 6px 3px 6px 8px;
          border-bottom: 1px solid #C0C0C0;
          .wr-link{
            text-decoration: none;
            color: inherit;
          }
        }
        time.time{
          font-size: 12px;
          text-align: right;
          width: 100%;
          display: block;
          color: #999;
        }
        .is_read{
          background-color: #dce3e5;
        }
      }
    }
    &:before{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-color: #e2d5d5;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      border-bottom: 7px solid #e2d5d5;
      left: 50%;
      margin-top: -9px;
      margin-left: -7px;
      position: absolute;
    }
  }
}
