<div class="wr-header">
  <div class="wr-icon">
    <%= image_tag("/icons/icon.gif", size: "16") %>
  </div>
  <div class="wr-profile">
    <a class="avatar" href="javascript:">
      <%= image_tag("/icons/icon.gif", size: "16", class: "avatar") %>
      <%= content_tag(:p, "Username") %>
    </a>
  </div>
</div>
